// Browsers do not correctly handle "section h1, section h2, section h3" font sizes
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.1em;
}

@mixin text_body($color: $text-body-default-font-color)
{
    font-family: sans-serif;

    color: $color;
}

@mixin text_code($color: $text-code-default-font-color)
{
    font-family: monospace;
    font-weight: 600;

    color: $color;
}

@mixin text_headline($color: $text-headline-default-font-color)
{
    font-family: sans-serif;

    color: $color;
}
